ul,ol {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main h1 {
  text-align: center;
  color: white;
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  background-color: green;
}

.groceries li {
  display: inline-flex;
  width: 20%;
}
.groceries li div{

}
.row {
  width: 100%;
  margin: 0 17%;
  margin-top: 2%;
}
.block {
  display: inline-flex;
  width: 100%;
}