ul,ol {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1 {
  text-align: center;
  color: white;
  border-radius: 10px;
  width: 60%;
  background-color: green;
}

div.inputList {
  justify-content: center
}

button.addButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}
button.addButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
  background-color:#1e62d0;
}
button.addButton:active {
  position:relative;
  top:1px;
}


div.inputList input[type="radio"] {
  margin-left: 5px;
  margin-right: 10px;
}

div.list {
  margin-top: 20px;
}

.groceries li {
  display: inline-flex;
  margin: 10px 10px 10px 10px;
}
.groceries li div{
 height: 250px;
 width: 250px;
}

.row:first-of-type ul.groceries li:first-child div{
 background-color:skyblue;
}

.row:first-of-type ul.groceries li:nth-child(2) div{
 background-color:lightyellow;
}

.row:first-of-type ul.groceries li:nth-child(3) div{
 background-color:lightgreen;
}

.row:first-of-type ul.groceries li:nth-child(4) div{
 background-color:pink;
}

.row:last-of-type ul.groceries li:first-child div{
 background-color:#B19CD9;
}

.row:last-of-type ul.groceries li:nth-child(2) div{
 background-color:crimson;
}

.row:last-of-type ul.groceries li:nth-child(3) div{
 background-color:#ffa500;
}

.row:last-of-type ul.groceries li:nth-child(4) div{
 background-color:lightgrey;
}

.row {
  width: 100%;
  margin-top: 2%;
}
.block {
  display: inline-flex;
  width: 100%;
}

div.block ul, div.block ul li {
  margin: 0;
  padding: 0;
}

.groceries li > div.block ul li {
  display: block;
  margin: 0;
  padding: 0;
  flex-grow: 10;
}